# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
django27_env/

# Environment files
.env
*.env

# SQLite DB (if using local db)
db.sqlite3

# Git
.git/
.gitignore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Node (if any frontend)
node_modules/